{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "env": {
    "development": {
      "presets": [
        "@babel/preset-env"
      ]
    },
    "production": {
      "presets": [
        ["@babel/preset-env", { "modules": false }]
      ]
    }
  }
}